.menu {
    background-color: #141516;
    color: #d8d4cf;
    border-right: .5rem solid #d65050;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #141516;
    color: #d8d4cf;
}

head {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #141516;
    color: #d8d4cf;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #141516;
    color: #d8d4cf;
}

#root {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #141516;
    color: #d8d4cf;
}
